name: Actualizar datos de tasas

on: 
  schedule:
    - cron: '0 */12 * * *'
  workflow_dispatch:
    
permissions:
  contents: write

jobs:
  fetch-and-save:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # <<< IMPORTANTE

      - name: Obtener datos de la API
        env:
          API_TOKEN: ${{ secrets.API_TOKEN }}
        run: |
          curl -s -X 'GET' \
            'https://tasas.eltoque.com/v1/trmi' \
            -H 'accept: */*' \
            -H "Authorization: Bearer $API_TOKEN" \
            > informal.json

      - name: Subir cambios al repositorio
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

          # Traer cambios remotos para evitar rechazo
          git pull origin main --rebase

          git add informal.json
          git commit -m "Actualización automática: $(date -u)" || echo "No hay cambios"

          git push origin main
